@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(100%);
  }

  50% {
    transform: rotate(360deg) scale(130%);
  }
  100% {
    transform: rotate(0deg) scale(100%);
  }
}

@keyframes color-transition {
  0% {
    background-color: rgb(112, 191, 255);
  }
  20% {
    background-color: rgb(114, 112, 255);
  }
  40% {
    background-color: rgb(155, 112, 255);
  }
  60% {
    background-color: rgb(155, 112, 255);
  }
  80% {
    background-color: rgb(114, 112, 255);
  }

  100% {
    background-color: rgb(112, 191, 255);
  }
}
