@import "animations";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(37, 37, 37);
}
html {
  font-size: 62.5%;
  display: grid;
  place-content: center;
  height: 100vh;
}
.animation-container {
  width: 7rem;
  height: 7rem;
  position: relative;
  animation: rotate infinite 4s;
}

.dot {
  height: 3rem;
  width: 3rem;
  background-color: rgb(112, 191, 255);
  border-radius: 50%;
  position: absolute;
  &:nth-child(1) {
    left: 0;
    top: 0;
    animation: color-transition infinite 3s;
  }
  &:nth-child(2) {
    right: 0;
    top: 0;
    animation: color-transition infinite 3s 0.2s;
  }
  &:nth-child(3) {
    left: 0;
    bottom: 0;
    animation: color-transition infinite 3s 0.4s;
  }
  &:nth-child(4) {
    right: 0;
    bottom: 0;
    animation: color-transition infinite 3s 0.6s;
  }
}
